section.container.articles
	.row
		article.col-md-4
			h1
				i.icon-wheel
				| Check  out  my  latest <br> portfolio  items
			p Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
			button.orange-btn More
		article.col-md-4
			h1
				i.icon-tick
				| Offer  Top  Notch  Quality  Work  &  Services
			p Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
			button.orange-btn More
		article.col-md-4
			h1
				i.icon-user
				| Follow  Me  on  Twitter,  Facebook  &  Pinterest
			p Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
			button.orange-btn More