.container-fluid
	footer
		.container
			.row
				.col-md-4.footer-tile
					h2 About  Jetro
					p Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. Id mei vitae denique, in eam commodo veritus disputando. 
					p Pro et erant delicata, eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet oporteat cu vim.
				.col-md-4.footer-tile
					h2 Twitter Widget
					p <span>@pixelmater</span> What an awesome design with great functionality :)
					p <span>about 1 hour ago</span>
					p <span>@designdude</span> What an awesome design with great functionality :)
					p <span>about 2 hour ago</span>
					p Follow <span>@bestpsdfreebies</span>
				.col-md-4.footer-tile
					h2 Contact  Us
					p Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. 
					p information@jetro.com <br>1.222.333.4444
					.social
						a(href="#")
							i.icon-facebook
						a(href="#")
							i.icon-twitter
						a(href="#")
							i.icon-mail
						a(href="#")
							i.icon-rss
						a(href="#")
							i.icon-vimeo
