.stripe
header.container
	.row
		.col-md-2
			h1.logo
				a(href='#') Jet<span>ro</span>
		.col-md-10.pull-right.col-sm-12.col-xs-12
			nav
				ul
					li
						a.active(href="#") Home
					li
						a(href="#") About us
					li
						a(href="#") Blog
					li
						a(href="#") Portfolio
					li
						a(href="#") Contact us
section.container.slider_main
	.row
		.col-md-12
			.slider-wrapper
				.owl-carousel
					.slide1
						.slide-wrapper
							h1 Slide 1
							p  Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
						img(src="img/slider-main.jpg" alt="slider_main")
					.slide2
						.slide-wrapper
							h1 Slide 2
							p  Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
						img(src="img/slider-main.jpg" alt="slider_main")
					.slide3
						.slide-wrapper
							h1 Slide 3
							p  Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
						img(src="img/slider-main.jpg" alt="slider_main")
					.slide4
						.slide-wrapper
							h1 Slide 4
							p  Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
						img(src="img/slider-main.jpg" alt="slider_main")
					.slide5
						.slide-wrapper
							h1 Slide 5
							p  Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
						img(src="img/slider-main.jpg" alt="slider_main")
					.slide6
						.slide-wrapper
							h1 Slide 6
							p  Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
						img(src="img/slider-main.jpg" alt="slider_main")
	.row.slider_control
		.col-md-2.col-sm-4.col-xs-6.owl-dot
			a(href="#")
				img(src="img/slider1.jpg", alt="slider thumbnail")
		.col-md-2.col-sm-4.col-xs-6.owl-dot
			a(href="#")
				img(src="img/slider2.jpg", alt="slider thumbnail")
		.col-md-2.col-sm-4.col-xs-6.owl-dot
			a(href="#")
				img(src="img/slider3.jpg", alt="slider thumbnail")
		.col-md-2.col-sm-4.col-xs-6.owl-dot
			a(href="#")
				img(src="img/slider4.jpg", alt="slider thumbnail")
		.col-md-2.col-sm-4.col-xs-6.owl-dot
			a(href="#")
				img(src="img/slider5.jpg", alt="slider thumbnail")
		.col-md-2.col-sm-4.col-xs-6.owl-dot
			a(href="#")
				img(src="img/slider6.jpg", alt="slider thumbnail")