section.container.works
	.row
		.col-md-12
			.line
				h3 Recent Works
		.col-md-3.col-sm-6.col-xs-12
			.tiles
				a(href="#")
					img(src="img/works1.jpg" alt="work img")
				h2 Character  Design
				p June 15, 2012
		.col-md-3.col-sm-6.col-xs-12
			.tiles
				a(href="#")
					img(src="img/works2.jpg" alt="work img")
				h2 Brochure  Design
				p June 15, 2012
		.col-md-3.col-sm-6.col-xs-12
			.tiles
				a(href="#")
					img(src="img/works3.jpg" alt="work img")
				h2 Social Media Buttons
				p June 15, 2012
		.col-md-3.col-sm-6.col-xs-12
			.tiles
				a(href="#")
					img(src="img/works4.jpg" alt="work img")
				h2 10 Amazing Websites
				p June 15, 2012